@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Nunito;
}
.container{
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

body{
    line-height: 1.6rem;
    text-align: center;
    background: rgb(207, 206, 206);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header{
    padding: 10px;
}
header>*{
    margin-bottom: 15px;
}
header h2{
    text-decoration:2px solid black underline;
}
#loader,#lucky,#unlucky,#invalid{
    display: none;
}
#loader img,#lucky img, #unlucky img, #invalid img{
    border-radius: 10px;
    width: 300px;
}
.container .input_data{
    margin: auto;
}

.input_data{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
.input_data >*{
    margin-bottom: 15px;
    width: 70%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}
.input_data >*:focus{
    outline: none;
}
.output{
    background: white;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
    margin-bottom: 20px;
}









