@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Nunito;
    scroll-behavior: smooth;
}

.container{
    max-width: 700px;
    margin: auto;
}

body{
    line-height: 1.6rem;
    text-align: center;
    background: rgb(154 201 198 / 65%);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(211, 117, 133);
}
header{
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(./Images/lucky.jpg) no-repeat center center/cover fixed;
}
header>*{
    margin-bottom: 30px;
}
header h2{
    text-decoration:2px solid black underline;
}
#scroller{
    background-color: palevioletred;
    color: whitesmoke;
    font-weight: 700;
    border: none;
    border-radius: 30px;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 1.1rem;
}
#loader,#lucky,#unlucky,#invalid{
    display: none;
}
#loader img,#lucky img, #unlucky img, #invalid img{
    border-radius: 10px;
    width: 200px;
}
#hero{
    min-height: 90vh;
}
.container .input_data{
    margin: auto;
}

.input_data{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.input_data >*{
    margin-bottom: 15px;
    width: 70%;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}
.input_data >*:focus{
    outline: none;
}

#policy_data{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    margin-bottom: 50px;
    background: rgb(211, 117, 133);
    color: whitesmoke;
    font-weight: 600;
    position: relative;
}
#privacy_heading,#close_privacy{
    font-size:1.3rem ;
}
#close_privacy{
    position: absolute;
    right: 2rem;
    cursor: pointer;
}

.output{
    background: white;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 10px;
    margin-bottom: 20px;
}
#btn{
    cursor: pointer;
    font-weight: 800;
}
footer{
    margin: auto;
    width: 100%;
    bottom: 10px;
    left: 0;
}
#social{
    display: flex;
    justify-content: center;
}
#social >div{
    margin: 20px;
}

@media screen and (max-width:500px){
    #policy_data{
        padding: 10px;
    }
    #close_privacy{
        right: 5px;
    }
}




